{% extends "layout.html" %}
{% block body %}

{% if session['oauth_token'] %}
<form action="/password/forgot" method="post">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <div class="input-field">
        <label class="username">Username</label>
        <input type="text" name="username" placeholder="Username or email" required autofocus/>
    </div>

    <div class="input-group">
        <button class="button" type="submit">Submit</button>
    </div>
</form>

<div class="input-group">
    <p><a href="/">Back to home page</a></p>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
{% endif %}

{% endblock %}