{% extends "layout.html" %}
{% block body %}

{% if session['oauth_token'] %}
    <form method="post">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <h3> Enter New Password </h3>

        <div class="input-field">
            <label class="recoveryCode">Recovery Code</label>
            <div class="input-group">
                <input type="text" name="recoveryCode" placeholder="Recovery Code" required autofocus/>
            </div>
        </div>

        <div class="input-field">
            <label class="password">New Password</label>
            <div class="input-group">
                <input type="password" name="password" id="password" placeholder="New Password" required autofocus
                       {% if passwordPattern is defined and passwordPattern is not none %} pattern="{{passwordPattern}}"
                       {% endif %} />
                <label class="input-addon">
                    <input type="checkbox" style="display:none" onclick="toggleSecret(event, this)">
                    <span><i class="fa fa-fw fa-eye"></i></span>
                </label>
            </div>
        </div>

        <div class="input-field">
            <label class="confirmPassword">Verify New Password</label>
            <div class="input-group">
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Verify New Password" required autofocus
                       {% if passwordPattern is defined and passwordPattern is not none %} pattern="{{passwordPattern}}"
                       {% endif %} />
                <label class="input-addon">
                    <input type="checkbox" style="display:none" onclick="toggleSecret(event, this)">
                    <span><i class="fa fa-fw fa-eye"></i></span>
                </label>
            </div>
        </div>
        <input type="hidden" name="userId" value="{{user_id}}"/>

        <div class="input-group">
            <button class="button" type="submit" formaction="/password/recover">Save</button>
        </div>

        <div class="input-group">
            <button class="button" type="submit" formaction="/password/forgot" formnovalidate>Resend Recovery Code</button>
        </div>
    </form>

    <div class="input-group">
        <p><a href="/">Back to home page</a></p>
    </div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<script src="{{url_for('static', filename='passwords.js')}}"></script>
{% endif %}

{% endblock %}

