<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recover Your Password</title>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<div class="container">

  <form th:object="${user}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <p class="error-message"
       th:if="${#fields.hasGlobalErrors()}"
       th:each="error : ${#fields.errors('global')}"
       th:text="${error}">Validation error</p>

    <h2> Enter New Password </h2>
    <div th:if="${#fields.hasErrors('global')}" th:errors="global" class="alert alert-danger"
         th:text="${errorMsg}"></div>

    <div th:replace="general :: alert"></div>
    <br>

    <div class="input-field">
      <label th:for="${#ids.next('recoveryCode')}">Recovery Code</label>
      <div class="input-group">
        <input type="text" th:field="*{recoveryCode}"
               placeholder="Recovery Code" required autofocus/>
      </div>
      <ul class="text-danger" th:each="error: ${#fields.errors('recoveryCode')}">
        <li th:each="message : ${error.split(',')}">
          <p class="error-message" th:text="${message}"></p>
        </li>
      </ul>
    </div>

    <div class="input-field">
      <label th:for="${#ids.next('password')}">New Password</label>
      <div class="input-group">
        <input type="password" th:field="*{password}" th:pattern="${passwordPattern}"
               placeholder="New Password" required autofocus/>
        <label class="input-addon">
          <input type="checkbox" style="display:none" th:onclick="|toggleSecret(event, this)|">
          <span><i class="fa fa-fw fa-eye"></i></span>
        </label>
      </div>
      <ul class="text-danger" th:each="error: ${#fields.errors('password')}">
        <li th:each="message : ${error.split(',')}">
          <p class="error-message" th:text="${message}"></p>
        </li>
      </ul>
    </div>

    <div class="input-field">
      <label th:for="${#ids.next('confirmPassword')}">Verify New Password</label>
      <div class="input-group">
        <input type="password" th:field="*{confirmPassword}" th:pattern="${passwordPattern}"
               placeholder="Verify New Password" required autofocus/>
        <label class="input-addon">
          <input type="checkbox" style="display:none" th:onclick="|toggleSecret(event, this)|">
          <span><i class="fa fa-fw fa-eye"></i></span>
        </label>
      </div>
      <ul class="text-danger" th:each="error: ${#fields.errors('confirmPassword')}">
        <li th:each="message : ${error.split(',')}">
          <p class="error-message" th:text="${message}"></p>
        </li>
      </ul>
    </div>
    <input type="hidden" th:field="*{id}"/>

    <div class="input-group">
      <button class="btn" type="submit" th:formaction="@{/password/recover}">Save</button>
    </div>

    <div class="input-group">
      <button class="btn" type="submit" th:formaction="@{/password/forgot}" formnovalidate>Resend Recovery Code</button>
    </div>
  </form>

  <div class="input-group">
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
  </div>

</div>

<script th:inline="javascript" th:replace="changePassword :: passwords-js">
</script>
</body>
</html>
